@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.input-section {
    border-style: solid;
    border-radius: 30px;
    border-color: #750e987e;
    border-width: 5px;

    width: 50vw;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #353b4796;

    font-size: 3rem;
    color: white;
}

.input-box {
    border-style: solid;
    border-radius: 30px;
    border-color: #ff05c57e;
    border-width: 5px;

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    border-style: solid;
    border-radius: 30px;
    border-color: #05ff8a7e;
    border-width: 5px;
    padding: 1rem 5rem;
    font-size: 1rem;
    background-color: #f5f7f927;
    cursor: pointer;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: .5em;
    text-align: center;
    color: #ffffff;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    font-style: italic;
    color: #ffffff;
}

.show-image {
    border-style: solid;
    border-radius: 10px;
    border-color: #0582ff7e;
    border-width: 2px;
    height: 3rem;
    width: auto;
    margin-left: 1rem;
}

.show-image:hover {
    transform: scale(1.15);
}