@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.input-section {
    width: 50vw;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    background-color: #353b4796;
    border-style: solid;
    border-radius: 30px;
    border-color: #8b8b8b7e;
    border-width: 5px;

    font-size: 3rem;
    color: white;
}

.input-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    width: 60%;
    padding: 1rem 8rem;
    font-size: 1rem;
    background-color: #f5f7f927;
    cursor: pointer;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    font-style: italic;
    color: #c0c0c0;
}

.show-image {
    height: 3.5%;
    width: 3.5%;
    margin-left: 1rem;
}

.show-image:hover {
    transform: scale(1.15);
}