@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.password-section {
    display: flex;
    flex-direction: column;
    padding-top: 1.5em;
}

.input-content {
    border-radius: 30px;
    height: content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.password-wrapper {
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    height: 0;
    width: 100%;
    transform: scale(0);
    transform-origin: center;
    transition: height 1s ease, transform 1s ease, opacity 1s ease;
    font-family: 'Inter', sans-serif;
    padding-top: 2em;
}

.password-wrapper.expanded
{
    padding-bottom: 2em;
    opacity: 1;
    height: 900px;
    transform: scale(1);
    justify-content: center;
}