.password-section {
    background-image: "url('/PasswordCheckerBackground.png')"
}

.password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
    z-index: 10;
    min-height: 100vh;
}