@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.password-section {
    display: flex;
    flex-direction: column;
    padding-top: 1.5em;
}

.input-content {
    border-radius: 30px;
    height: content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Inter', sans-serif;
    font-weight: 500;

    background-color: rgba(40, 53, 78, 0.772);
}

.password-wrapper {
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    height: 0;
    transition: height 1.3s ease, opacity 1.4s ease;
    font-family: 'Inter', sans-serif;
    padding-top: 2em;
    padding-bottom: 2em;
}

.password-wrapper.expanded
{
    opacity: 1;
    height: 900px;
    justify-content: center;
}