.password-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
}

.input-content {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.password-wrapper {
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    width: 100%;
    transform: scale(0);
    transform-origin: top;
    transition: max-height 1.2s ease, transform 1s ease, opacity 1s ease;
    padding-top: 1.5em;
}

.password-wrapper.expanded
{
    opacity: 1;
    max-height: 1000px;
    transform: scale(1);
    padding-bottom: 1.5em;
}