@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.password-section.expanded::before,
.password-section::before
{
    position: absolute;
    content: "";
    inset: 0;
    
    filter: blur(5px);
    
    background-position: center;
    background-image: url('/public/PasswordCheckerBackground.png');
}

.password-section.expanded,
.password-section
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    
    font-family: 'Inter', sans-serif;
    font-weight: 500;

    background-color: rgb(30, 59, 85);
}

.password-section {
    height: 190px;
    transition: height 1.5s ease;
}

.password-content {
    padding: 12px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 100%;
    height: 100%;
    width: 100%;
}