@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.password-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    filter: blur(4px);
    
    background-position: center;
    background-image: url('/public/PasswordCheckerBackground.png');
    background-size: cover;
}

.password-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: rgb(30, 59, 85);
    background-position: center;
}

.password-content {
    border-color: rgb(255, 0, 0);
    border-style: solid;
    border-radius: 10px;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    position: relative;
    min-height: 100vh;
}

.bottom-section {
    border-color: rgb(0, 255, 60);
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}