.password-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    overflow: hidden;
}

.password-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/PasswordCheckerBackground.png');
    z-index: 0;
    filter: blur(3px);
}

.password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
    z-index: 10;
    min-height: 100vh;
    padding: 2rem;
}

.bottom-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}