@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.input-content {
    height: 300px;
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Inter', sans-serif;
    font-weight: 500;

    background-color: rgba(125, 133, 145, 0.286);
}

.password-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    height: 0;
    transition: height 1.5s ease, opacity 1s ease;
    font-family: 'Inter', sans-serif;
}

.password-content.expanded
{
    opacity: 1;
    height: 900px;
}