.container, .faq-section, .header-section {
    display: flex;
    flex-direction: column;
    max-width: 1750px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
}

.faq-section {
    margin-bottom: 5rem;
}