.hibp-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #aeaeae;

    font-size: clamp(2rem, 2vw + 0.5rem, 3rem);
    color: white;
}