@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.input-section {
    border-radius: 40px;
    padding: 2rem 2.2rem;
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    background-color: #2a2a2a96;

    font-size: clamp(2rem, 2vw + 0.5rem, 3rem);
}

.input {
    border-style: solid;
    border-color: rgb(55, 55, 55);
    border-width: 2px;
    border-radius: 40px;
    padding: 2rem;
    margin-left: -0.58em;
    width: 100%;

    background-color: #f5f7f927;
    cursor: pointer;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:hover {
    border-color: rgb(77, 104, 139);
    box-shadow: 0 0 10px #4f5b6d;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    font-style: italic;
    color: #ffffff61;
}

.input, .input:focus, input::placeholder {
    font-size: clamp(0.6rem, 1vw + 0.5rem, 2rem);
}

.show-image {
    height: 0.7em;
    width: auto;
    margin-left: -1em;
}

.show-image:hover {
    transform: scale(1.15);
}