@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.input-section {
    border-radius: 40px;
    width: 60%;
    height: 100%;
    min-height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    background-color: #353b4796;

    font-size: clamp(2rem, 2vw + 0.5rem, 3rem);
    color: white;
}

.input {
    border-width: 10px;
    border-radius: 40px;
    
    width: 100%;
    height: 50%;

    font-size: clamp(1rem, 2vw + 0.5rem, 2rem);
    background-color: #f5f7f927;
    cursor: pointer;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
}

.input:focus {
    outline: none;
    font-size: clamp(1rem, 2vw + 0.5rem, 2rem);
}

.input::placeholder {
    font-style: italic;
    color: #ffffff61;
    font-size: clamp(1rem, 2vw + 0.5rem, 2rem);
}

.show-image {
    height: 3rem;
    width: auto;
    margin-left: 1rem;
}

.show-image:hover {
    transform: scale(1.15);
}