@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.input-section {
    border-radius: 40px;
    padding: 2rem 2rem;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    box-sizing: border-box;
    box-shadow: 0 4px 5px black;

    background-color: #2a2a2a96;
    font-size: clamp(2rem, 2vw + 0.5rem, 3rem);
}

.input {
    flex: 1;
    border-style: solid;
    border-color: rgb(55, 55, 55);
    border-width: 2px;
    border-radius: 40px;
    padding: clamp(2rem, 15vh, 2.5rem);
    width: 90%;
    height: 100%;
    text-shadow: 0 4px 3px rgb(51, 47, 47);
    box-shadow: 0 4px 5px rgb(35, 33, 33);

    background-color: #f5f7f927;
    cursor: pointer;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:hover {
    border-color: rgb(134, 144, 157);
    box-shadow: 0 0 10px #101111;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    font-style: italic;
    color: #ffffff61;
}

.input, .input:focus, input::placeholder {
    font-size: clamp(1rem, 0.5vw + 1rem, 2rem);
}

.show-image {
    height: 3rem;
    width: auto;
}

.show-image:hover {
    transform: scale(1.15);
    cursor: pointer;
}