body {
  margin: 0;
  background-color: #393b3e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-padding-top: 150px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    font-size: clamp(1.5rem, 2vw, 4rem);
}

p, input, li {
    font-size: clamp(1rem, 2vw, 2rem);
}

hr {
    border: 0;
    height: 1px;
    width: 90%;
    background-color: rgb(105, 105, 105);
    margin-top: 1em;
    margin-bottom: 1em;
}