body {
  margin: 0;
  background: linear-gradient(to bottom, rgb(32, 41, 59), rgb(72, 82, 102), rgb(32, 41, 59));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    font-size: clamp(1.5em, 2vw + 0.5em, 4em);
}

p, input {
    font-size: clamp(0.25em, 3vw + 0.2em, 1.5em);
}