body {
  margin: 0;
  background: linear-gradient(to bottom, rgb(101, 106, 130), rgb(35, 35, 37));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    font-size: clamp(1.5rem, 2vw + 0.5rem, 4rem);
}

p, input, li {
    font-size: clamp(0.25rem, 3vw + 0.2em, 1.5rem);
}

hr {
    border: 0;
    height: 1px;
    width: 90%;
    background-color: rgb(105, 105, 105);
    margin-top: 1em;
    margin-bottom: 1em;
}