.evaluations-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 10%;
    
    font-size: clamp(2rem, 2vw + 0.5rem, 3rem);
    color: white;
}

.strength-bar {
    border-style: solid;
    border-color: rgb(42, 53, 72);
    border-width: 2px;
    width: 90%;
    height: 5%;
    background: #545657;
    border-radius: 30px;
}

.strength-bar-level {
    height: 100%;
    border-radius: 20px;
    transition: width 0.5s ease, background-color 0.5s ease;
}

h1 {
    margin: 0;
    font-size: clamp(1.25em, 4vw + 0.5em, 2.5rem);
}

p {
    margin: 0;
    font-size: clamp(0.5em, 3vw + 0.5em, 1.5rem);
}