.evaluations-section {
    border-radius: 40px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.647);
    border-width: 5px;

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 10%;
    

    background-color: rgba(40, 53, 78, 0.772);

    font-size: clamp(2rem, 2vw + 0.5rem, 3rem);
    color: white;
}

.strength-bar {
    width: 90%;
    height: 6%;
    background: #545657;
    border-radius: 30px;
}

.strength-bar-level {
    height: 100%;
    border-radius: 20px;
    transition: width 0.5s ease, background-color 0.5s ease;
}