@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Varela&display=swap');

.password-content {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    height: 100%;
    width: 98%;
    display: flex;
    flex-direction: column;
}