@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.password-content {
    border-radius: 40px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    background-color: rgb(45, 53, 61);
    box-shadow: 0 1px 20px black;
    text-shadow: 0 4px 2px rgb(19, 19, 19);
}