@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Varela&display=swap');

.password-content {
    border-radius: 40px;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(26, 31, 39, 0.772);
}