@import url('https://fonts.googleapis.com/css2?family=Jura:wght@551&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Varela&display=swap');

.suggestions-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
}

.suggestions-section h1 {
    color:rgb(212, 233, 255)
}

h2 {
    font-size: clamp(1rem, 2vw + 0.5rem, 2rem);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

span {
    transition: color 0.5s ease;
}

ul {
    text-align: left;
}