/* ========== GENERAL LAYOUT ========== */


.goodp-section {
  margin: 0;
  text-align: center;
  color: white;
  /* background: linear-gradient(to bottom, #677b9cff, #1c1e1fff); */
  /* height: 800px; */
  overflow: hidden;
  
}

.goodp-title {
  font-size: 40px;
  font-weight: 500;
  position: relative;
  top: 40px;
    text-shadow: 0 4px 12px rgba(40, 40, 40, 1);
}

.goodp-sub {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  position: relative;
  justify-content: center;
  top: 60px;
  /* background-color: blue; */
  flex-wrap: wrap;
}

/*expanded thing*/

.goodp-image.expanded::before,
.goodp-image::before
{
  position: relative;
  content: "";
  inset: 0;
}

.goodp-image.expanded,
.goodp-image
{
  height: 19.3rem;
}


.goodp-image {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0px;
  justify-content: top;
  align-items: center;
  padding: 3rem;
  width: 500px;
  height: 6.375rem;
  background-color: transparent;
  /* border: solid; */
  overflow: hidden;
  transition: height 0.6s ease;
  text-shadow: 0 4px 12px rgba(40, 40, 40, 1);
}

.goodp-img {
  height: 5rem;
  position: relative;
  top:5px;
  width: 5rem;
}

.goodp-col {
  display: flex;
  flex-direction: column;
  /* border: solid red; */
}
.default-image {
  background-color: transparent;
}
.goodp-img:hover {
  width: 100px;
  height: 100px;
  top: 0px;
  background-color: rgba(221, 221, 221, 0.15);
  border-radius: 50px;
  
  box-shadow: 0 0 15px  rgba(221, 221, 221, 0.11), 0 0 25px rgba(221, 221, 221, 0.11), 0 0 35px rgba(221, 221, 221, 0.11); /* Red glow */
  animation: pulse-glow 2s infinite alternate;
}

.goodp-img-text{
  position: relative;
  top: 1.37rem;
  font-size: clamp(.01rem, 1vw + 0.250rem, 1.67rem); 
  font-weight: lighter;
}
/* ========== FAQ SECTION ========== */

.faq-section {
  margin: 0;
  text-align: center;
  /* background: radial-gradient(circle, #677b9cff, #cbccccff); */
  align-items: center;
  position: relative;
  overflow: hidden;
}

.faq-header {
  color: white;
  font-size: 40px;
  font-weight: 500;
  position: relative;
}


.faq-questions-section{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 100px;
  /* background-color: rgba(22, 141, 61, 0.5); */
}
/* ========== FAQ BUTTONS ========== */

/*use this for expanded*/

.faq-row.expanded::before,
.faq-row::before
{
  position: relative;
  content: "";
  inset: 0;
}

.faq-row.expanded,
.faq-row
{
  height: clamp(8rem, 8vw + 2.50rem,12rem);
  margin-bottom: 0px;
}


.faq-row {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  height: 50px;
  position: relative;
  top: 0px;
  width: 1200px;
  overflow: hidden;
  /* background-color: rgba(0, 0, 1,0.5);
  border: solid; */
  transition: height 1s ease, margin-bottom 1s ease;;
  /* transition: margin-bottom 1s ease; */
}

.faq-btn {
  width: 80%;
  font-size: clamp(.01rem, 1.5vw + 0.250rem, 1.675rem);
  letter-spacing: clamp(0rem, 1.8vw + 0.05rem, .25rem);
  background-color: rgb(49, 51, 61);
  color: white;
  position: relative;
  border: 2px solid rgb(40, 41, 44);
  align-items: center;
  transition: 0.3s border;
  vertical-align: center;
  height: 40px;
  text-align: center;
  top: 0px;
  overflow: visible;
}

.default-border {
  border-color: rgb(59, 60, 65);
}

.faq-btn:hover {
  border-color: rgb(123, 126, 75);
}

/* ========== PLUS ICON ========== */

.faq-plus {
  position: relative;
  left:96.5%;
  top: -2.2em;
  /* background-color: red; */
  width: 17px;
  height: 20px;
  text-align: center;
  justify-content: center;
  font-size: clamp(.1rem,  1.5vw + 0.250rem, 1.675rem);
  cursor: pointer;
}

/* ========== FAQ ANSWERS ========== */

.faq-answer {
  background-color: rgb(62, 64, 75);
  position: relative;
  margin: 0px;
  font-size: clamp(.01rem, 1.4vw + 0.250rem, 1.5rem);
  font-weight: 450;
  color: white;
  letter-spacing: 0px;
  padding: 0px;
  /* overflow: auto; */
  text-align: center;
  transition: visibility .696s;
  width: 79%;
  height: clamp(6rem, 4.3vw + 2.50rem,10.625rem);
}