/* ========== GENERAL LAYOUT ========== */

.goodp-section {
  margin: 0;
  text-align: center;
  color: white;
  background: linear-gradient(to bottom, #677b9cff, #1c1e1fff);
  height: 600px;
}

.goodp-title {
  font-size: 40px;
  font-weight: 500;
  position: relative;
  top: 40px;
}

.goodp-sub {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  position: relative;
  justify-content: center;
  top: 60px;
}

.goodp-image {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0px;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 500px;
  height: 100px;
  background-color: transparent;
  border: solid;
}

.goodp-img {
  height: 5rem;
  position: relative;
  width: 5rem;
}

.default-image {
  background-color: transparent;
}
.goodp-img:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(221, 221, 221, 0.15);
  border-radius: 50px;
  
  box-shadow: 0 0 15px  rgba(221, 221, 221, 0.11), 0 0 25px rgba(221, 221, 221, 0.11), 0 0 35px rgba(221, 221, 221, 0.11); /* Red glow */
  animation: pulse-glow 2s infinite alternate;
}
/* ========== FAQ SECTION ========== */

.faq-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  background: radial-gradient(circle, #677b9cff, #cbccccff);
  align-items: center;
  position: relative;
}

.faq-header {
  color: white;
  font-size: 40px;
  font-weight: 500;
  position: relative;
}

/* ========== FAQ BUTTONS ========== */

.faq-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.faq-btn {
  width: 1000px;
  font-size: 30px;
  letter-spacing: 4px;
  background-color: #455563ff;
  color: white;
  position: relative;
  border: 2px solid #3d4a55ff;
  align-items: end;
  transition: 0.2s border;
  height: 40px;
  top: 100px;
}

.default-border {
  border-color: #3d4a55ff;
}

.faq-btn:hover {
  border-color: rgb(123, 126, 75);
}

/* ========== PLUS ICON ========== */

.faq-plus {
  position: relative;
  left:96%;
  top: -62px;
  /*background-color: red;*/
  width: 17px;
  height: 30px;
  text-align: center;
  justify-content: center;
  font-size: 28px;
  cursor: pointer;
}

/* ========== FAQ ANSWERS ========== */

.faq-answer {
  background-color: #687e92ff;
  position: relative;
  margin: 3px;
  top: -83px;
  letter-spacing: 0px;
  padding: 0px;
  font-size: smaller;
  height: 1px;
}
