/* Top header bar */
.header-top {
  margin: 0;
  background: linear-gradient(to right, #323b49ff, #656768ff);
  height: 145px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

/* Bottom header bar */
.header-bottom {
  margin: 0;
  background: linear-gradient(to bottom, #54565fff, #677b9cff);
  height: 105px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.25rem;
  align-items: center;
  position: relative;
}

/* Middle title box */
.password-title {
  font-size:  clamp(.9rem, 4.5vw + 0.5rem, 3rem);
  font-weight: 345;
  letter-spacing: -1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  background-color: #323841ff;
  border: solid #546785ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  left: 0;
}
