@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Varela&display=swap');

/* Top header bar */

.header-top {
  margin: 0;
  height: 145px;
  color: rgb(250, 250, 250);
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  background-color: rgba(56, 57, 61, 0.5)
}

/* Bottom header bar */
.header-bottom {
  margin: 0;
  height: 105px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.25rem;
  align-items: center;
  position: relative;
}

/* Middle title box */
.password-title {
  font-size:  clamp(.9rem, 4.5vw + 0.5rem, 3rem);
  font-weight: 350;
  font-family: 'Jura', sans-serif;
  letter-spacing: -1px;
  padding: 20px;
  background-color: #323841ff;
  border: solid #546785ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  left: 0;
}

button {
  font-family: '', sans-serif;
  font-weight: 700;
  text-shadow: 0 4px 12px rgb(19, 19, 19);
}

.header-bottom {
    text-shadow: 0 4px 12px rgb(19, 19, 19);
}
