@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    position: fixed;
    width: 95%;
    z-index: 1000;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(145, 155, 165);
    box-shadow: 5px 5px 5px rgb(27, 26, 26);
}

/* Title */

.header-title {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    font-weight: 500;
    text-shadow: 0 4px 8px black;
    transition: color 0.4s ease;
}

.header-title:hover {
    cursor: pointer;
    color: rgb(212, 233, 255);
    .header-title-sudo {text-shadow: 0 4px 21px black};
    .header-title-secure {text-shadow: 0 4px 21px black};
}

.logo {
    margin-right: -1rem;
    width: clamp(2rem, 8vw, 5rem);
}

.header-title-sudo {
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 400;
    transition: text-shadow 0.3s ease;
}

.header-title-secure {
    font-size: clamp(1.2rem, 6vw, 4rem);
    transition: text-shadow 0.3s ease;
}

/* Nav Bar */

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: clamp(0.5rem, 2vh, 2rem);
}

.good-practices-button, .faq-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 71, 74);
    border-style: none;
    border-radius: 10px;
    padding: clamp(0.1rem, 0.5vw, 1.5rem);
    color: rgb(212, 233, 255);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    text-shadow: 0 4px 12px black;
    box-shadow: 0 4px 12px black;
    transition: background-color 0.2s ease, color 0.1s ease;
    transition: transform 0.3s ease;
}

.good-practices-button:hover, .faq-button:hover {
    color: white;
    background-color: rgba(55, 66, 76, 0.665);
    cursor: pointer;
    transform: translateY(-3px);
}

.good-practices-label, .faq-label {
    font-size: clamp(1rem, 3vw, 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Bottom header bar */
.header-bottom {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Middle title box */
.password-title {
    color: rgb(212, 233, 255);
    font-size: clamp(3rem, 4.5vw, 5rem);
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    padding: 4rem;
    background-color: rgb(45, 53, 61);
    border-radius: 20px;
    text-align: center;
    text-shadow: 0 4px 22px rgb(0, 0, 0);
    box-shadow: 0 4px 12px black;
}